body {
  background: rgb(239, 231, 245);
  margin-top: -10px;
  font-family: "Roboto", sans-serif;
  color: rgb(24, 3, 51);
}
h1 {
  text-align: center;
  font-size: 44px;
}
select {
  background: white;
  width: 100%;
  border: 1px solid rgb(196, 139, 240);
  border-radius: 7px;
  box-shadow: rgba(146, 93, 187, 0.705) 0px 7px 29px 0px;
  margin-bottom: 43px;
  padding: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bolder;
}
hr {
  margin-bottom: 45px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgb(227, 226, 226),
    rgb(255, 255, 255),
    rgba(224, 224, 224, 0.826)
  );
  width: 85%;
}
footer {
  text-align: center;
  font-size: 13px;
  color: rgb(146, 93, 187);
  margin-top: 15px;
}
a {
  color: rgb(146, 93, 187);
}
a:hover {
  text-decoration: none;
  transition: all 200ms ease-in-out;
  color: rgb(146, 93, 187);
}
.container {
  max-width: 545px;
  margin: 0 auto;
  margin-top: 55px;
  padding: 30px 40px;
  border: 1px solid rgb(234, 205, 244);
  border-radius: 20px;
  box-shadow: rgba(146, 93, 187, 0.705) 0px 7px 29px 0px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/076/028/original/1.png?1681070822");
  background-repeat: no-repeat;
  background-size: 120%;
}
.default-cities {
  background: white;
  width: 94.5%;
  border: 1px solid rgb(146, 93, 187);
  border-radius: 20px;
  box-shadow: rgba(146, 93, 187, 0.705) 5px 5px 5px 0px;
  margin: 25px 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.date {
  margin-top: -10px;
  opacity: 0.7;
}
.time {
  font-size: 35px;
  font-weight: bold;
  padding-top: 20px;
}
.time small {
  font-size: 20px;
  vertical-align: middle;
}
.all-cities-link {
  display: block;
  margin: 0 auto;
  margin-top: 45px;
  padding: 5px 9px;
  text-align: center;
  text-decoration: none;
  color: rgb(24, 3, 51);
  font-size: 18px;
  background: white;
  border: 1px solid rgb(146, 93, 187);
  border-radius: 15px;
  box-shadow: rgba(146, 93, 187, 0.705) 0px 7px 29px 0px;
  max-width: 31%;
}
.all-cities-link:hover {
transition: all 200ms ease-in-out;
}
.bottom-line {
  margin-top: 50px;
  margin-bottom: 45px;
}
.current-location {
  margin-left: 10px;
  padding: 5px 0 5px 9px;
  font-size: 18px;
  background: white;
  border: 1px solid rgb(146, 93, 187);
  border-radius: 15px;
  box-shadow: rgba(146, 93, 187, 0.705) 0px 7px 29px 0px;
  max-width: 33.5%;
}
